/* waiting on new photos to adjust page to more customized layout */
.container .lizard { grid-column: 1/ span 3; }
.container .turtles { grid-column: 1/ span 3; }
.container .snakes { grid-column: 1/ span 3; }