.container .cscf { grid-column: 1 / span 3; }
.container .bs { grid-column: 1 / span 3; }
.container .isft { grid-column: 1 / span 3; }
.container .ds { grid-column: 1 / span 3; }


.container > div > img {
		/* add space before image to separate from title*/
		padding-top:10px;
	}
	
@media screen and (max-width: 900px) {
	/* when the viewport too small, make content in 1 column */
	.container .cscf { grid-column: 1; }
	.container .bs { grid-column: 1; }
	.container .isft { grid-column: 1; }
	.container .ds { grid-column: 1; }

	
}