/* class used to control the placement of images in mobile view */
.container .grid_image { 
	display: grid;
	grid-column: 1; 
	max-width: 100%;
}
@media screen and (max-width: 900px) {
	.container .grid_image { 
	/* center all images on page */
		grid-column: 1/ span 3;
		place-items: center;
	}
}

.container .right_image { 
	display: grid;
	grid-column: 3; 
	max-width: 100%;
}
@media screen and (max-width: 900px) {
	.container .center_image { 
	/* center all images on page */
		grid-column: 1/ span 3;
		place-items: center;
	}
}
.container .bu_text { grid-column: 2/ span 2; }
.container .wsu_text { grid-column: 1/ span 2; }

.container .cscf { grid-column: 1/ span 3; }
.container .bs { grid-column: 1/ span 3; }
.container .isft { grid-column: 1/ span 3; }
.container .dss { grid-column: 1/ span 3; }

@media screen and (max-width: 900px) {
	/* when the viewport too small, make content in 1 column */
	.container .wsu_text { grid-column: 1/ span 3; }
	.container .bu_text { grid-column: 1/ span 3; }

}