:root {
	--header-color: rgba(148, 101, 44, 0.7);
	--border-color: #5A3D1A;
}

.container {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 15px 10px 10px 10px;
	/* bottom margin is adjusted on each page to suit to top button */
}

.container > div {
	align-content: center;
	font-size: 30px;
	text-align: center;
}

@media screen and (max-width: 900px) {
	.container {
		display: grid;
		gap: 0px;
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 500px) {
	/* start shrinking text when container gets really small */
	.container > div { font-size: 5vw;  }
}


.container .section_titles {
	/* all of the large h2 headings on every page */
	grid-column: 1 / span 3;
	border-radius: 25px;
	background-color: var(--header-color);
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-color);
}

@media screen and (max-width: 900px) {
	/* when the viewport too small, make content in 1 column */
	.container .section_titles { grid-column: 1; }
}

.container > div > h2{
	display: grid;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.container div > h4{
	background-color: var(--header-color);
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-color);
	max-width: 1080px;
	margin: auto;
}

.container > div > p {
	background: rgba(199, 125, 51, 0.5);
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-color);
	padding: 25px;
	margin: 10px auto auto auto;
	max-width: 1080px;
	text-align: center;	
}