.container .hcu { grid-column: 1 / span 3; }
.container .hcu p { margin-top: 0px; } /* remove margin above section title */
.container .wyac { grid-column: 2 / span 2; }
.container .er { grid-column: 1 / span 3; }


@media screen and (max-width: 900px) {
	/* when the viewport too small, make content in 1 column */
	.container .hcu { grid-column: 1; }
	.container .wyacimg { grid-column: 1; }
	.container .wyac { grid-column: 1; }
	.container .er { grid-column: 1; }
}