.container {
	/* need large bottom padding for temporary event page */
	padding: 15px 10px 300px 10px; 
}

.container .upcoming_events {
	grid-column: 1/ span 3;
	text-align:center;
	margin-bottom:10px;
}

@media screen and (max-width: 900px) {
	/* when the viewport too small, make content in 1 column */
	.container .upcoming_events { 
		grid-column: 1; 
		margin-top: 10px;
	}
}
