.container .wwa_image {
	grid-column: 1;
	margin-top: 5px;
}

.container .wwa_image img {
	width: 90%;
	height: auto;
	object-fit: cover;
}

.container .wwa_text {
	grid-column: 2/ span 2;
	text-align:center;
	margin-top: 5px;
	margin-bottom: 10px;
}

.container .wsu_text { grid-column: 1/ span 2; }

.container .wsu_image {
	grid-column: 3;
	margin-top: 10px;
}

.container .wsu_image img {
	width: 90%;
	height: auto;
}

.container .bu_image {
	grid-column: 1;
	margin-bottom: 5px;
}

.container .bu_image img {
	max-width: 80%;
	height: auto;
}

.container .bu_text {
	grid-column: 2/ span 2;
	margin-bottom: 10px;	
}

.container .vri_text { grid-column: 1 / span 3; }
.container .vri_text p { margin-bottom: 10px; }

@media screen and (max-width: 900px) {
	/* when the viewport too small, make content in 1 column */
	.container .wwa_image { 
		grid-column: 1;	
		padding-top: 10px; 
	}
	.container .wsu_image img {
	width: 80%;
	height: auto;
}
	.container .wwa_text { grid-column: 1; }
	.container .wsu_text { grid-column: 1; }
	.container .wsu_text h4 { margin-top: 10px; }
	.container .wsu_image { grid-column: 1; }
	.container .bu_image { grid-column: 1; margin-bottom:5px; }
	.container .bu_text { grid-column: 1; }
	.container .vri_text { grid-column: 1; }
	.container .vri_text { grid-column: 1; }
	.container .vri_text h4 { margin-top: 10px; }
}
