/* when the viewport too small, make content in 1 column */
.container .wwa_text { grid-column: 2/ span 2; }
.container .wsu_text { grid-column: 1/ span 2; }
.container .bu_text { grid-column: 2/ span 2; }
.container .vri_text { grid-column: 1 / span 3; }
.container .vri_text p { margin-bottom: 10px; }

@media screen and (max-width: 900px) {
	/* when the viewport too small, make content in 1 column */
	.container .wwa_image { grid-column: 1; }
	.container .wwa_text { grid-column: 1; }
	.container .wsu_text { grid-column: 1; }
	.container .wsu_image { grid-column: 1; }
	.container .bu_text { grid-column: 1; }
	.container .vri_text { grid-column: 1; }
	.container .vri_text { grid-column: 1; }
	/* grid container updated in container styles */
}
