/* code to style the banner, logo, and navigation bar */

:root {
	/* colors */
	--banner-background: #8dc641; /* bright green to match logo */
	--navbar-color: #333d29; /* dark green for navbar base */
	--buttons-color: #414833; /* for the to top button + navbar */
	--button-hover: #C2C5AA; /* for hovering and ambassador dropdown*/
	
	/* others */
	--buttons-font: 20px;
}

.bar-banner {
	overflow: hidden;
	background-image: url(../images/branches_leaves.png);
	padding: 2px; /* navbar outlines hamburger menu */
}

/* ----------------------- banner ----------------------- */
.page-head {
	/* top of page banner */
	background-image: url(../images/common_duckweed.png);
	position: relative;             
	height: 200px;
}

#logo {
	/* logo from top page banner */
	padding-top: 15px;
	padding-left: 65px;
	max-height: 300px;
	max-width: 300px;
}
/* --------------------- end banner --------------------- */

@media screen and (max-width: 450px) {
	/* queries to change the grid layout on smaller screens */
	.page-head #logo {
		padding-left: 0px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/* ------------------- top navigation ------------------- */

.topnav {
	overflow: hidden;
	background-color: var(--navbar-color);
	padding: 2px; /* navbar outlines hamburger menu */
}

.topnav a {
	float: left;
	display: block;
	background-color: var(--buttons-color);
	color: #f2f2f2;
	text-align: center;
	padding: 17px 17px;
	text-decoration: none;
	font-size: var(--buttons-font);
}

.topnav .active {
	background-color: var(--navbar-color);
	color: white;
}
/* ----------------- end top navigation ----------------- */

.topnav .icon { 
	display: none;  
	padding: 16px 16px;
}
.topnav a.icon { font-size:20px; }

/* hides icon for fullscreen view */
@media screen and (max-width: 720px) {
	/* adjusting button to work with nav by hiding when the bar collapses */
	.topnav a:not(:first-child), .dropdown .dropbtn { display: none; }
	
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 720px) {
	.topnav.responsive { position: relative; }
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
		padding:17px;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.topnav.responsive .dropdown { float: none; }
	.topnav.responsive .dropdown-content { 
		position: relative; 
		width: 100%;
		text-align: left; 
	}
	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
}