.container { margin-bottom: 340px; } /* WARNING!: delete this from finished page because margin is not needed*/

.container .uc { grid-column: 1 / span 3; }

@media screen and (max-width: 900px) {
	/* when the viewport too small, make content in 1 column */
	.container .uc { grid-column: 1; }
}